<header class="clearfix" th:fragment="copy">

        <div class="navbar-header">
            <img src="" alt="logo" style="height: 80px">
        </div>

        <nav class="pull-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/drawing">
                        <span class="glyphicon glyphicon-picture"></span>
                        图纸管理</a>
                </li>
                <li>
                    <a href="/room">
                        <span class="glyphicon glyphicon-home"></span>
                        房屋信息</a>
                </li>
                <li>
                    <a href="/workflow/deployHome">
                        <span class="glyphicon glyphicon-retweet"></span>
                        流程管理</a>
                </li>
                <li>
                    <a href="/billController/toBill">
                        <span class="glyphicon glyphicon-tasks"></span>
                        任务管理</a>
                </li>

            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/login">
                        <span class="glyphicon glyphicon-log-out"></span>
                        退出</a>
                </li>
            </ul>
        </nav>
</header>	

