<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>dx</title>
    <link rel="stylesheet" href="css/Normalize.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/common.css"/>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <aside class="col-lg-3 col-md-3 col-sm-3 pull-left">

            <a href="javaScript:;"
               class="foldBtnLeft smallIcon">
                <span class="collapseIcon"></span>
            </a>

            <div class="header clearfix">
                <div class="row">
                    <!--网站名 or logo-->
                    <a href="javaScript:;" target="_blank">
                        <img class="logoImg col-lg-12 col-md-12 col-sm-12"
                             id="logoImg"
                             src="images/logo.png"
                             alt="Logo" />
                    </a>
                </div>
            </div>

            <ul class="nav navbar-default" role="navigation">
                <li class="">
                    <a href="/drawing"
                       id="drawingLabel">
                        <span class="glyphicon glyphicon-picture"></span> 图纸管理
                    </a>
                </li>
                 <li>
                    <a href="javaScript:;"
                       id="roomLabel"
                       data-toggle="collapse"
                       data-target="#navCollapse-3">
                        <span class="glyphicon glyphicon-home"></span> 房屋信息
                    </a>
                    <ul class="collapse in nav" id="navCollapse-3"><!--下拉菜单2-->
                        <li>
<!--                             <a href="javaScript:getBuildingInfo('https://www.baidu.com')" id="roomSubLabel-1">信息大楼</a> -->
                            <a href="javaScript:getBuildingInfo('http://192.168.170.128:1517/dcv-web/dcv/home.html?ID=10001&userName=admin&userPassword=admin123')" id="roomSubLabel-1">信息大楼</a>
                        </li>
                        <li>
                            <a href="javaScript:getBuildingInfo('http://www.jq22.com/jquery-info122')" id="roomSubLabel-2">武圣大楼</a>
                        </li>
                    </ul>
                </li>
                <li>
                	<a href="/workflow/deployHome"
                       id="flowLabel">
                        <span class="glyphicon glyphicon-retweet"></span> 流程管理
                    </a>
                </li>
                 <li>
                    <a href="javaScript:;"
                       id="tasksLabel"
                       data-toggle="collapse"
                       data-target="#navCollapse-2">
                        <span class="glyphicon glyphicon-tasks"></span> 任务管理
                    </a>
                    <ul class="collapse nav" id="navCollapse-2"><!--下拉菜单2-->
                        <li>
                            <a href="/billController/billList" id="taskSubLabel-1">表单管理</a>
                        </li>
                        <li>
                            <a href="/workflow/listTask" id="taskSubLabel-2">待办任务</a>
                        </li>
                        <li>
                            <a href="tasks2.html" id="taskSubLabel-3">历史任务</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- 导航 end -->

        <article class="col-lg-9 col-md-9 col-sm-9 pull-right"
                style="padding-top: 15px;padding-bottom: 15px;">

            <a href="javaScript:;"
               class="foldBtnRight smallIcon">
                <span class="expandIcon"></span>
            </a>

            <section><!--房间筛选-->
                <div class="panel panel-default iFrame" id="roomPage" style="margin-bottom: 0;">
                    <iframe src="" frameborder="0" id="3dFrame" width="100%" height="100%">

                    </iframe>
                </div><!-- /#roomPage-->
            </section>
        </article>
    </div>
</div>

<script src="js/jquery-3.2.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jqPaginator.js"></script>
<script type="text/javascript" src="js/dx-z.js"></script>
</body>
</html>