<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>房屋归属管理</title>
</head>
<body>
	<form action="/workflow/submitTask" method="POST">
		<input type="hidden" id="taskId" name="taskId" th:value="${taskId }" />
		<input type="hidden" id="id" name="id" th:value="${bill.Id }" />
		<input type="hidden" name="conditionName" value="Area"><br>
		<input type="hidden" id="billName" name="billName" value="RoomBill" />
		<table class="table table-condensed table-striped table-bordered" >
			<tr align="center">
				<th colspan="2">新增/修改请假申请</th>
			</tr>
			<tr>
				<td align="right">房间:</td>
				<td><input id="room" name="Room" type="text" th:value="${bill.Room }" readonly></td>
			</tr>
			<tr>
				<td align="right">申请人:</td>
				<td><input id="Applicant" name="Applicant" type="text" th:value="${bill.Applicant }" readonly></td>
			</tr>
			<tr>
				<td align="right">申请面积:</td>
				<td><input id="Area" name="Area" type="text" th:value="${bill.Area }" readonly></td>
			</tr>
			<tr>
				<td align="right">批注:</td>
				<td><input id="comment" name="comment" type="text"></td>
			</tr>
			<tr>
				<td colspan="2" align="center" th:each="outcome : ${outcomeList }">
					<!-- 使用连线的名称作为按钮 --> 
<!-- 					<input type="submit" name="outcome"  th:value="${outcome  }" > -->
				<select  th:each="outcome : ${outcomeList }">
					<option>请选择流程转向</option>
					<option  name="outcome" th:text="${outcome  }"></option>
				</select>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="确定">
					<input type="button" value="取消">
				</td>
			</tr>
		</table>
	</form>
	<hr>
	<table>
		<thead>
			<tr>
				<th>时间</th>
				<th>批注人</th>
				<th>批注信息</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="comment: ${commentList}">
				<td th:text="${comment.time }"></td>
				<td th:text="${comment.userId }"></td>
				<td th:text="${comment.fullMessage }"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>