<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>房屋归属管理</title>
</head>
<body>
	<form action="/billController/updateBill" method="post">
		<input type="hidden" id="id" name="id" th:value="${bill.Id }" />
		<input type="hidden" name="billName" value="RoomBill"><br>
		申请房间:<input type="text" name="Room" th:value="${bill.Room }"><br>
		申请面积:<input type="text" name="Area" th:value="${bill.Area }"><br>
		<input type="submit" value="提交"><br>
	</form>
</body>
</html>