<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <title>房屋调配申请-部门经理意见</title>
    <style>
        .commentLabel{
            padding-bottom: 15px;
        }
        .comment .labelHeader h4{
            font-weight: bold;
            color: #121212;
        }
        .comment .labelBody h4{
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">房屋调配申请</h3>
        </div>
        <div class="panel-body">
            <!--表单-->
            <h3>申请信息</h3>
            <form class="form-horizontal">
                <div class="row">
                    <div class="form-group col-sm-5">
                        <label class="col-sm-6 control-label">发起人</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">张兰</p>
                        </div>
                    </div>

                    <div class="form-group col-sm-7">
                        <label class="col-sm-3 control-label">联系人</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">张兰</p>
                        </div>
                    </div>

                    <div class="form-group col-sm-5">
                        <label class="col-sm-6 control-label">发起单位</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">上海总部</p>
                        </div>
                    </div>

                    <div class="form-group col-sm-7">
                        <label class="col-sm-3 control-label">联系方式</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">139xxxx5678</p>
                        </div>
                    </div>

                    <div class="form-group col-sm-5">
                        <label class="col-sm-6 control-label">发起部门</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">网络发展部</p>
                        </div>
                    </div>

                    <div class="form-group col-sm-7">
                        <label class="col-sm-3 control-label">房屋名称</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">生产用房</p>
                        </div>
                    </div>

                    <div class="form-group col-sm-5">
                        <label class="col-sm-6 control-label">发起日期</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">2017-11-15</p>
                        </div>
                    </div>

                    <div class="form-group col-sm-7">
                        <label class="col-sm-3 control-label">房屋地址</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">闵行区xx路302号</p>
                        </div>
                    </div>

                    <div class="form-group col-sm-5">
                        <label class="col-sm-6 control-label">编号</label>
                        <div class="col-sm-6">
                            <p class="form-control-static">2017XXXX294</p>
                        </div>
                    </div>

                    <div class="form-group col-sm-7">
                        <label class="col-sm-3 control-label">需求情况说明</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">需求情况说明需求情况说明，需求情况说明需求情况说明需求情况说明。</p>
                        </div>
                    </div>
                </div>
            </form>

            <h3>审批记录</h3>
            <div class="comment">
                <div class="row commentLabel">
                    <div class="col-sm-2 labelHeader">
                        <h4 class="text-right">处室领导</h4>
                    </div>
                    <div class="col-sm-9 labelBody">
                        <h4>惠成功 <small> 2017-11-15 </small> </h4>
                        领导意见领导意见领导意，领导意见领导意见领导意见领导意见领导意见。
                        领导意见领导意见领导意，领导意见领导意见领导意见领导意见领导意见。领导意见领导意见领导意，领导意见领导意见领导意见领导意见领导意见。
                    </div>
                </div>
                <div class="row commentLabel">
                    <div class="col-sm-2 labelHeader">
                        <h4 class="text-right">部门经理</h4>
                    </div>
                    <div class="col-sm-9 labelBody">
                        <h4>郑秋冬 <small> 2017-11-16 </small> </h4>
                        领导意见领导意见领导意，领导意见领导意见领导意见领导意见领导意见。
                    </div>
                </div>
            </div>

            <h3>审批意见</h3>
            <!--表单-->
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-2 control-label">送往</label>
                    <div class="col-sm-3">
                        <select class="form-control" name="">
                            <option value="" selected>请选择送往目标</option>
                            <option value="">网发规划处</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="javaScript:;" class="btn btn-default">提交</a>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

</body>
</html>